{% extends 'base.html' %} {% load cloudinary %} {% block content %}
<div class="row">
    <div class="col l3 m3 s12"></div>
    <div class="col l5 m5 s12">
        {% for image in images %}
        <div class="card" style="justify-content: center;">
            <div class="card-content">
                <img src="{{image.user.profile.profile_photo.url}}" alt="" class="circle left" width="30px" height="30px"> &nbsp;
                <a href="/profile/{{image.user.username}}" class="black-text ml-1" style="font-weight: bold;">{{image.user.username}}</a>
                <a href="/image/{{image.id}}"><i class="material-icons right black-text">preview<p>view</p></i> </a>
            </div>
            <div class="card-image">
                <img src="{{image.image.url}}">
            </div>
            <div class="card-content">
                <div class="container-fluid">
                    <a href="/image/like/{{image.id}}"><i class="material-icons">favorite_border</i></a>
                    <i class="material-icons ml-1">chat_bubble_outline</i></div>
                <p style="font-weight: bold;">{{image.likes}} likes</p>
                <p><span style="font-weight: bold;"># {{image.caption}}</span> </p>
            </div>
            <div class="card-action">
                <p>Comments ({{image.comment_set.all | length}})</p>
                {% csrf_token %}
                <form action="/image/comment/{{image.id}}" method="GET">
                    <div class="">
                        <div class="">
                            <input id="comment" type="text" class="validate" placeholder="Comment" name="comment">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}