{%extends 'base.html'%} {% block content %} {{block.super}}

<div class="container">
    <div class="row">
        <br>
        <br>
        <div class="col l4 m4 s12"></div>
        <div class="col l4 m4 s12">
            <div class="jumbotron text-center">
                <form action="{{image.id}}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="caption">Update caption</label>
                        <Textarea class="form-control" name="newcaption" rows="3">{{ image.caption }}</Textarea>
                    </div>
                    <input type="submit" class="btn right" value="UPDATE">
                </form>
            </div>
        </div>
        <div class="col-xs-3"></div>
    </div>
</div>

{% endblock %}