{% extends 'base.html' %} {% load cloudinary %} {% block content %}
<br><br><br>
<div class="container">
    <div class="row">
        <div class="col l1 m1 s12"></div>
        <div class="col l2 2 s12">
            <img src="{{profile.profile_photo.url}}" width="180px" height="180px" style="border-radius: 50%;">

        </div>
        <div class="col l1 m1 s12"></div>
        <div class="col l6 m7 s12">
            <div class="">
                <h6 class="ig-bold-text">{{profile.user.username}} <a href="/accounts/logout" class="black-text right"><i class = "material-icons">exit_app</i></a></h6>
            </div>
            <div class="inline">
                <span class="ig-bold-text">Posts</span>
                <span>{{images | length}}</span>&nbsp; <br>
                <span class="ig-bold-text">Followers</span>
                <span>0</span>&nbsp; <br>
                <span class="ig-bold-text">Following</span>
                <span>0</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <br>
        <div class="row">
            {% if images %} {% for image in images %}
            <div class="col l3 m6 s6">
                <a href="/image/{{image.id}}">
                    <p><span style="font-weight: bold;">{{image.caption}}</span>
                        <a href="/image/update/{{image.id}}"><i class="material-icons right black-text">update</i></a> </p>
                    <img src="{{image.image.url}}" class="hoverable" width="100%">
                </a>
                <div class="col-s6" style="background-color: gray;">
                    <a href="/image/delete/{{image.id}}"><i class="material-icons">delete</i></a>
                </div>
            </div>
            {% endfor %} {% else %}
            <br><br>
            <p class="center">You have no images</p>
            {% endif%}
        </div>
    </div>
</div>
{%endblock%}