{%extends 'profile/base.html'%} {% block content %} {% load cloudinary %} {{ block.super}}

<div class='container'>

    <div class="row">
        <div class="card" style="width:50%;margin-left: 30%">
            {% for image in images %}
            <div class="card mb-3">
                <a href="{% url 'profile' image.user.id %}">
                    <h5 class="card-header">{{image.user.username}}</h5>
                </a>
                <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive  card-body" alt="Image" style="width: 300px;height:320px;margin-left: 0%;margin-top:15px;"></a>
                <!-- <a href="{% url 'like' image.id %}">{{image.likes}}<i class="fa fa-heart" style="color:rgb(165, 58, 58);"></i></a> -->
            </div>

            {% for com in i.comment_set.all %}
            <span><p><strong>{{current_user.username}}:</strong>{{com.comment}}</p></span>
        </div>
        {% endfor %} {% empty %}
        <div class="row">
            <h2 class="text-center">There Are No Images</h2>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}