{%extends 'profile/base.html'%} {% block content %}

<div class="container">

    <div class="row">

        <img src="{{image.image.url}}" class="img-responsive" alt="" style="width:500px;height:320px;margin-left: 0%;margin-top:15px;">
        <div style="display:flex">
            <a href="{% url 'comment' image.id%}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQt2iNiNmbM4n2qcUJUOZr2C-dI-EDvT_c3yLH-E6h2jk6wVqoY
      " style="margin-left:20%;margin-top:0.5%;position:absolute" width=25></a>

            <a href="{% url 'like' image.id %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR4_zX0jPFV2nDzCOIJdm1roMOLb7yEjXaTtx9OI3zNVjxTUC87" alt="instagram logo on nav-bar " style="width:53px; height:30px;margin-top:5px;margin-left:26px;border-right:1px solid;padding-right: 23px; ">{{image.like}}</a>
        </div>
    </div>
    <h5>posted_by :<a href="{% url 'profile' image.user.id %}">{{image.user.username}}</a></h5>
    <div class="row">
        <p>name:{{image.image_name}}</p>
    </div>

    <div class="row">
        {% autoescape on %}
        <p>caption:{{image.image_caption| safe}}</p>
        {% endautoescape %}
    </div>

    <div class="row">
        <p>Posted {{image.pub_date|timesince}} by {{image.profile.user.username}}</p>
    </div>
    <div class="card">
        <h4>Comments</h4>
        {% for com in comments %}
        <li>{{com.comment}}</li>
        {% endfor %}
    </div>


</div>

{% endblock %}