{%extends 'profile/base.html'%} {% block content %} {% load cloudinary %}
<div class="container">

    <div class="row">
        {% if users%}
        <h2>Found {{ users|length }} of searched term {{message}}</h2>
        {% else %}
        <h2> Found 0 users for the search term {{message}}</h2>
        {% endif %}

    </div>

    <div class="row">

        {% if users %} {% for user in users %}
        <div class="col-sm-6 col-md-3">
            <h3><a href="{% url 'profile' user.id %}">{{user.user.username}}</a></h3>
        </div>
        {% endfor %} {% endif %}
    </div>
</div>
{% endblock %}